body {
    font-family: 'Exo 2';font-size: 22px;
    color: #000645;
}

div.inline { float:left; }

.font-weight-500 {
    font-weight: 500;
}

.section-1 {
    height: 650;
}

.section-wrapper-left {
    padding-top: 5%;
    padding-left: 10%;
    width: 50%;
}

.topic-text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

.heading-text {
    font-weight: 800;
    font-size: 70px;
    margin: 0;
    line-height: 1;
}

.description-text {
    font-size: 15;
    font-weight: 300;
    line-height: 1.5;
}

.gradient-bg {
    background-color: #e9eafa;
    width: 75%;
    height: 600px;
    position: absolute;
    transform: skewY(3deg);
    z-index: -1;
    top: -25;
    left: 0;
}

.image-skew-girl-laptop{
    position: absolute;
    z-index: 2;
    margin-top:100px;
    width: 350px;
    height: 800px;
    max-height: 600;
    right: 0;
    overflow: hidden;
  }

.image-girl-laptop{
    position: absolute;
    left:-200px;
    bottom: 0;
    background-image: url("../images/smiling-girl-working-at-laptop-in-cafe-cropped.jpg");
    background-repeat: no-repeat;
    width:815px;
    height: 780px;  
    -ms-transform: skew(0deg,6deg) scale(0.6);
    -webkit-transform: skew(0deg,6deg) scale(0.6);
    transform: skew(0deg,6deg) scale(0.6);
}

.blue-dots-image {
    position: absolute;
    z-index: 1;
    transform: rotate(90deg);
    filter: brightness(0.6) hue-rotate(53deg);
    right: 200;
    top: -25;
}

.product-wrapper {
    position: absolute;
    z-index: 3;
    background: white;
    top: 270;
    right: 300;
    transform: skewY(5deg);
}

.product-image-flower-pot {
    width: 130;
    margin-top: -80;
    margin-left: 25;
    transform: skewY(-5deg);
}

.flower-product-text {
    font-size: 11;
    text-align: center;
    transform: skewY(-5deg);
}

.arrow-down {
    position: absolute;
    width: 40px;
    left: 50%;
    top: 470;
    animation: MoveUpDown 1s linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes MoveUpDown {
    0%, 100% {
      top: 465;
    }
    50% {
      top: 475;
    }
  }

.topic-text-bold-center {
    text-align: center;
    font-weight: 600;
}

.product-wrapper-coffee{
    background: white;
    width: 300;
    height: 500px;
    margin-left: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 6px 6px 10px 0px #00000038;
}

.product-gradient-bg {
    /* background: #00ffff29; */
    background: linear-gradient(0deg, rgb(249 174 27 / 8%) 10%, rgb(72 227 232 / 7%) 41%);
    border-radius: 50px;
    width: 100%;
    height: 200;
}

.chillout-handwritten-image {
    width: 140px;
    display:block;
    margin:auto;
    padding-top: 30;
}

.coffee-cup-image {
    width: 75px;
    position: absolute;
    margin-top: -70px;
    margin-left: 120;
    /* animation: bounce 1s; */
    /* animation-duration: ease; */
}
@keyframes bounce {
  0% {
      opacity: 0;
      filter: alpha(opacity=0);
      transform: translateY(-150px) rotate(0deg);
      animation-duration: unset;
  }
  25% {
      transform: translateY(4px) rotate(20deg);
      animation-duration: unset;
  }
  50% {
      opacity: 1;
      filter: none;
      transform: translateY(10px) rotate(-10deg);
      animation-duration: unset;
  }
  75% {
      transform: translateY(4px) rotate(5deg);
      animation-duration: initial;
  }
  100% {
      transform: translateY(4px) rotate(0deg);
      animation-duration: initial;
  }
}
  
.coffee-bill {
    width: 300;
    margin-left: 20;
    padding-top: 40;
}

.pill-button-wrapper {
    margin-top: 50;
}

.pill-button-pay-now {
    width: 250;
    height: 40;
    font-weight: 600;
    background-color: rgb(109 208 129);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}

.section-wrapper-right-2 {
    width: 50%;
    float: right !important;
    margin-top: 100;
}

.heading-text-2 {
    font-weight: 600;
    font-size: 40px;
}

.learn-more-text {
    animation: fadeIn 2s ease-in alternate;
}
@keyframes fadeIn {
    0% {opacity: 0; width: 100%}
    100% {opacity: 1; width: 100%}
 }